* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  --minimal: #d9a441;
  --bg1: #d2b48c;
  --bg2: #4b3621;
  --bg3: #c9b194;
}

body {
  font-family: "Raleway", serif;
  font-size: 1.2rem;
  background-color: var(--bg1);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg2);
}

.panel {
  background-color: var(--bg2);
}
.ticket {
  width: 100px;
  height: 100px;
  border: 1px solid var(--minimal);
}

.selected {
  box-shadow: 0px 0px 10px var(--minimal);
}

#players-container {
  color: var(--minimal);
  font-weight: bold;
}

.player-card {
  border-radius: 5px;
  position: relative;
  padding: 10px;
  margin: 10px;
  border: 1px solid var(--minimal);
}

.train-car-card {
  width: 100px;
  height: 150px;
  margin: 0%;
  border: 10px double white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details {
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid var(--minimal);
}

.align-right {
  transform: translateX(-100%);
}

#ticket-selection {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
  align-items: center;
  width: 100%;
}

#ticket-container {
  position: relative;
  display: flex;
  height: 100%;
  width: 80%;
  flex-direction: column;
  justify-content: space-evenly;
}

.ticket {
  padding: 10px;
  width: 100%;
}

#other-resources {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  height: 100%;
}

#player-resources {
  display: flex;
}

#cars {
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  place-content: center;
  position: relative;
  right: -50px;
  text-shadow: 0px 0px 1px black;
  color: white;
}

#player-hand {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#player-ticket-cards {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  overflow-y: auto;
}

.player-ticket-card {
  color: var(--minimal);
  border-radius: 5px;
  width: 100%;
  height: 100px;
  padding: 5px;
  text-align: center;
  border: 1px solid var(--minimal);
}

.action {
  cursor: pointer;
}

.action-btn {
  width: 100%;
  height: 45%;
  border-radius: 5px;
  border: 1px solid var(--minimal);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--minimal);
}

.red {
  background-color: rgba(255, 0, 0, 0.763);
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: rgb(227, 218, 38);
}
.pink {
  background-color: pink;
}
.green {
  background-color: green;
}
.white {
  background-color: gainsboro;
}
.orange {
  background-color: orange;
}
.black {
  background-color: black;
}

.locomotive {
  background: linear-gradient(
    to right,
    red 0%,
    red 16.7%,
    orange 16.7%,
    orange 33.4%,
    yellow 33.4%,
    yellow 50.1%,
    green 50.1%,
    green 66.8%,
    blue 66.8%,
    blue 83.5%,
    pink 83.5%,
    pink 100%
  );
}

.card-count {
  position: absolute;
  left: -20px;
  top: -20px;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  background-color: gold;
  border-radius: 50%;
}

.disable {
  pointer-events: none;
  opacity: 0.7;
}

.highlight {
  border: 8px double;
}

.hand-card {
  position: relative;
  margin-left: -50px;
  z-index: 1;
  transition: transform 0.7s ease;
}

.hand-card:hover {
  transform: translateY(-20%);
}

.train-car-card:first-child {
  margin-left: 0;
}

.img {
  width: 90%;
  aspect-ratio: 1;
}

#mapContainer {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.hide-cars {
  display: none;
}

.player-badge {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
}

::-webkit-scrollbar {
  width: 0px;
}

#logs {
  padding: 0.5rem;
  height: 24%;
  width: 95%;
  border-radius: 5px;
  border: 1px solid var(--minimal);
  position: absolute;
  bottom: 10px;
  box-sizing: border-box;
  color: var(--minimal);
  overflow-y: auto;
}
