* {
  padding: 0;
  margin: 0 !important;
  box-sizing: border-box;
}

body {
  font-family: "Cinzel", serif;
  background-color: rgb(155, 92, 4);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.ticket {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.selected {
  border: 5px solid goldenrod;
}

#players-container {
  color: white;
}

.player-card {
  padding: 10px;
  margin: 10px;
  border: 1px solid white;
}

.train-car-card {
  width: 100px;
  height: 150px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px;
}

.details {
  border: 1px solid white;
}

.align-right {
  transform: translateX(-100%);
}

#ticket-selection {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
  align-items: center;
  width: 100%;
}

#ticket-container {
  position: relative;
  display: flex;
  height: 100%;
  width: 80%;
  flex-direction: column;
  justify-content: space-evenly;
}

.ticket {
  padding: 10px;
  width: 100%;
}

#other-resources {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 100%;
}

#player-resources {
  display: flex;
}

#cars {
  background-color: rgb(255, 187, 0);
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

#player-hand {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: scroll;
}

#player-ticket-cards {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  overflow-y: scroll;
}

.player-ticket-card {
  background-color: rgb(73, 42, 9);
  color: rgb(219, 198, 136);
  border-radius: 5px;
  width: 100%;
  height: 100px;
  padding: 5px;
  text-align: center;
}

#blind-cards {
  width: 100%;
  height: 50%;
  border: 1px solid black;
}

.red {
  background-color: rgba(255, 0, 0, 0.763);
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.pink {
  background-color: pink;
}
.green {
  background-color: green;
}
.white {
  background-color: whitesmoke;
}
.orange {
  background-color: orange;
}
.black {
  background-color: black;
}

.locomotive {
  background: linear-gradient(
    45deg,
    #ff0000,
    /* Red */ #ff8000b7,
    /* Orange */ #ffff00,
    /* Yellow */ #00ff00,
    /* Green */ #0000ff,
    /* Blue */ #4b0082,
    /* Indigo */ #8b00ff /* Violet */
  );
}

.card-count {
  color: brown;
  text-shadow: 0px 0px 50px burlywood;
  font-size: 3rem;
  font-weight: 900;
}
