body {
  font-family: "Raleway", serif;
  background-color: hsl(27, 51%, 11%);
}

h1 {
  color: #d4b26e;
}

a {
  color: #d4b26e;
}

a:hover {
  color: bisque;
}

.cp-issue {
  font-size: 8px;
}

.bg-theme {
  background-color: #2b1b0e;
}

.bg-gold {
  background-color: #d4b26e;
}

.text-brown {
  color: #3b2b1e;
}

.border-brown {
  border: 2px solid #8b5e3c;
}

.btn-gold {
  background-color: #d4b26e;
  color: #3b2b1e;
  border: 2px solid #8b5e3c;
}

.btn-gold:hover {
  background-color: #c2a155;
  color: #3b2b1e;
}

.form-icon {
  color: #3b2b1e;
}

.bg-dark-brown {
  background-color: #2b1b0e;
}

.text-gold {
  color: #d4b26e;
}

.border-gold {
  border: 2px solid #8b5e3c;
}

.input-gold {
  background-color: #d4b26e;
  color: #3b2b1e;
  border: 2px solid #8b5e3c;
}

.input-gold::placeholder {
  color: #3b2b1e;
}

.font-fantasy {
  font-family: "IM Fell English", serif;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-height {
  height: 100vh;
}

#settingsModal .form-check-input {
  width: 3rem;
  height: 1.5rem;
  background-color: #3b2b1e;
  border: 2px solid #8b5e3c;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#settingsModal .form-check-input:checked {
  background-color: #d4b26e;
  border-color: #c2a155;
}

#settingsModal .form-check-input:focus {
  box-shadow: none;
}

#play-game-index {
  background-color: #d4b26e;
}
