body {
  font-family: "Raleway", serif;
  background-image: url("/assets/ttr-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.login-box {
  opacity: 0;
  transition: opacity 1s ease;
  animation: fadeIn 1s 1s forwards; /* Delay fade-in after blur */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.login-box,
.welcome-box,
.handbook {
  margin-top: 10px;
  box-shadow: 4px 2px 1px brown;
  background-color: #f7d19b98;
  border-radius: 20px;
  color: rgb(92, 19, 19);
  backdrop-filter: blur(20px);
}

.welcome-box {
  width: 600px;
  padding: 20px;
}

h1 {
  color: rgb(92, 19, 19);
  font-weight: 900 !important;
}

a {
  color: #f9d1b2;
}

a:hover {
  color: bisque;
}

.cp-issue {
  font-size: 8px;
}

.text-brown {
  color: #3b2b1e;
}

.border-brown {
  border: 2px solid #8b5e3c;
}

.btn-gold {
  background-color: #e5bc82;
  color: #3b2b1e;
  border: 2px solid #8b5e3c;
}

.btn-gold:hover,
.btn-gold:focus {
  background-color: #b57340;
  border: 2px solid #754f32;
  color: white;
  transition: all 0.6s ease;
}

.form-icon {
  color: #3b2b1e;
}

.bg-dark-brown {
  background-color: #2b1b0e;
}

.text-gold {
  color: #d4b26e;
}

.border-gold {
  border: 2px solid #8b5e3c;
}

.input-gold {
  background-color: #f7d09b;
  color: #3b2b1e;
  border: 2px solid #8b5e3c;
}

.input-gold::placeholder {
  color: #3b2b1e;
}

.font-fantasy {
  font-family: "IM Fell English", serif;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-height {
  height: 100vh;
}

#settingsModal .form-check-input {
  width: 3rem;
  height: 1.5rem;
  background-color: #3b2b1e;
  border: 2px solid #8b5e3c;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#settingsModal .form-check-input:checked {
  background-color: #d4b26e;
  border-color: #c2a155;
}

#settingsModal .form-check-input:focus {
  box-shadow: none;
}
