* {
  padding: 0%;
  margin: 0%;
  font-family: "Raleway";
}

:root {
  --color1: brown;
}

body {
  background-image: url("/assets/ttr-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.waiting-page {
  background-size: cover;
  /* background-color: #2b1b0e; */
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.waiting-container {
  width: 600px;
  padding: 20px;
  margin-top: 10px;
  box-shadow: 4px 2px 1px var(--color1);
  background-color: #f7d19b98;
  border-radius: 20px;
  color: rgb(92, 19, 19);
  backdrop-filter: blur(20px);
}

#waiting-list {
  list-style: none;
  margin-top: 20px;
}

.list-group-item {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  padding: 0.2% 10%;
  margin: 5px 0px;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  border-top: 0.5px solid var(--color1);
}

.badge {
  border: 1px solid var(--color1);
  border-radius: 3px;
  width: min-content;
  padding: 0px 5px;
}

.status {
  margin: 10px 0px;
  font-size: 20px;
}
