* {
  padding: 0%;
  margin: 0%;
  font-family: "Raleway";
}

:root {
  --minimal: #d9a441;
  --bg1: #d2b48c;
  --bg2: #4b3621;
  --bg3: #c9b194;
}
.waiting-page {
  background-size: cover;
  background-color: #2b1b0e;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.waiting-container {
  border: 2px solid #5c4033;
  border-radius: 12px;
  padding: 20px;
  width: 500px;
  margin: 40px auto;
  color: var(--minimal);
  border: 1px solid var(--minimal);
}

#waiting-list {
  list-style: none;
  margin-top: 20px;
}

.list-group-item {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  padding: 0.2% 10%;
  margin: 5px 0px;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  border-top: 0.5px solid var(--minimal);
}

.badge {
  border: 1px solid var(--minimal);
  border-radius: 3px;
  width: min-content;
  padding: 0px 5px;
}

.status {
  margin: 10px 0px;
  font-size: 20px;
}
